.s-hero {
    width: 100%;
    height: 78.6rem;
    background: url(../img/bg-hero.svg) no-repeat center center;
    padding-top: 175px;

    .container {
        @include flex(row, flex-start, space-between);
    }

    .text {
        width: 100%;
        max-width: 684px;

        h3 {
            font-weight: 600;
            color: #FFFFFF;
            opacity: 0.8;
            margin-bottom: 32px;
        }

        h1 {
            color: #FFFFFF;
            margin-bottom: 40px;
        }

        ul {
            width: 100%;
            max-width: 621px;
            margin-top: 64px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                display: flex;
                align-items: center;

                .icon {
                    width: 48px;
                    height: 48px;
                    background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
                    border-radius: 50%;
                    @include flex(row, center, center);
                    margin-right: 12px;
                }

                span {
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
    }

    .area-image {
        width: 100%;
        max-width: 70.6rem;
        

        h2 {
            margin-bottom: 67px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.4;
            font-weight: 600;
        }

        .image {
            position: relative;
            width: 100%;
            height: 541px;

            img {
                position: absolute;
            }

            .card-front {
                top: 41px;
                left: 0;
                z-index: 2;
            }
            .card-back{
                bottom: 16px;
                right: 32px;
                z-index: 1;
            }

            .circle {
                top: 0;
                right: 0;
            }
        }
    }
}