.s-hero {
    width: 100%;
    height: 78.6rem;
    background: url(../img/bg-hero.svg) no-repeat center center;
    padding-top: 175px;

    .container {
        @include flex(row, flex-start, space-between);
    }

    .text {
        width: 100%;
        max-width: 684px;

        h3 {
            font-weight: 600;
            color: #FFFFFF;
            opacity: 0.8;
            margin-bottom: 32px;
        }

        h1 {
            color: #FFFFFF;
            margin-bottom: 40px;
        }

        ul {
            width: 100%;
            max-width: 621px;
            margin-top: 64px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                display: flex;
                align-items: center;

                .icon {
                    width: 48px;
                    height: 48px;
                    background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
                    border-radius: 50%;
                    @include flex(row, center, center);
                    margin-right: 12px;
                }

                span {
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
    }

    .area-image {
        width: 100%;
        max-width: 70.6rem;


        h2 {
            margin-bottom: 67px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.4;
            font-weight: 600;
        }

        .image {
            position: relative;
            width: 100%;
            height: 541px;

            img {
                position: absolute;
            }

            .card-front {
                top: 41px;
                left: 0;
                z-index: 2;
            }

            .card-back {
                bottom: 16px;
                right: 32px;
                z-index: 1;
            }

            .circle {
                top: 0;
                right: 0;
            }
        }
    }
}

.s-card-neon {
    padding-top: 129px;

    .container {
        @include flex(row, flex-start, space-between);

    }

    .left-area {
        width: 100%;
        max-width: 277px;

        .ilutra-mockup {
            width: 100%;
            max-width: 277px;
            position: relative;
            margin-bottom: 129px;

            .circle {
                position: absolute;
                z-index: -1;
                top: 87px;
                max-width: 377px;
                left: -214px;
            }
        }

        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                position: relative;

                &::before {
                    content: '';
                    width: 5px;
                    height: 83px;
                    background: url(../img/points.svg) no-repeat center center;
                    position: absolute;
                    top: -104px;
                    left: 50%;
                    margin-left: -2.5px;
                }
            }

            .info-text {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    text-align: center;
                    margin-top: 36px;
                    color: $gray-600;
                }

                p {
                    text-align: center;
                    font-size: 16px;
                    line-height: 150%;
                    color: gray-400;
                    opacity: 0.8;
                    margin-bottom: 26px;
                }

                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 26px;
                        }

                    }
                }

            }
        }
    }

    .right-area {
        width: 100%;
        max-width: 800px;

        .main-text {
            margin-bottom: 144px;

            h2 {
                max-width: 488px;
                color: $gray-600;
                margin-bottom: 48px;
            }

            ul {
                margin-bottom: 32px;

                li {
                    @include flex(row, center, space-between);
                    border-bottom: 1px solid rgba(225, 224, 231, 0.9);
                    padding: 33px 0px;

                    &:first-child {
                        padding-top: 0px;
                    }

                    .info {
                        display: flex;
                        align-items: center;

                        .txt {
                            margin-left: 43px;

                            h3 {
                                color: $gray-400;
                            }

                            p {
                                font-size: 18px;
                                line-height: 150%;
                                color: #7A7786;
                            }
                        }
                    }
                }
            }

            .btn {
                position: relative;
                display: inline-block;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 112%;
                letter-spacing: -0.5px;
                color: $brand-blue;

                &::after {
                    content: "";
                    position: absolute;
                    right: -18px;
                    bottom: 0;
                    width: 10px;
                    height: 3px;
                    background-color: $brand-yellow;
                }
            }
        }

        .box-card {
            width: 100%;
            height: 410px;
            background: url("../img/bg-box-card-neon.svg") no-repeat center center;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 59px;

            .text {
                width: 100%;
                max-width: 380px;

                h2 {
                    color: #FFFFFF;
                    margin-bottom: 11px;
                }

                h3 {
                    color: #FFFFFF;
                    max-width: 327px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    margin-bottom: 31px;
                }

                .btns {
                    display: flex;
                    align-items: center;

                    button {
                        &:not(:first-child) {
                            margin-left: 16px;
                        }
                    }


                }

            }

            .image {
                margin-right: -31px;
            }
        }


    }

}

.s-depoimentos {
    padding-top: 134px;

    .top {
        @include flex(row, flex-end, space-between);

        margin-bottom: 40px;

        h2 {

            span {
                display: block;
                color: $gray-200;
                margin-bottom: 14px;
            }
        }

        .swiper-pagination {
            position: relative;
            width: auto;

            .swiper-pagination-bullet {
                background: $brand-yellow;
                border-radius: 12px;
                opacity: 0.3;
                transition: all .3s;

                &:not(:first-child) {
                    margin-left: 4px;
                }

                &-active {
                    opacity: 1;
                    width: 17.23px;
                }
            }
        }
    }

    .slide-depoimentos {
        overflow: hidden;
    }


}

.s-conta-digital {
    padding-top: 127px;
    padding-bottom: 85px;

    .container{
        display: flex;
        align-items: center;
    }

    .text {
        max-width: 542px;

        h2 {
            color: $gray-600;
            margin-bottom: 45px;

            span {
                display: block;
                color: rgba(198, 197, 206, 0.8);
                margin-bottom: 9px;
            }
        }

        ul {
            margin-bottom: 61px;

            li {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 45px;
                }

                .icon {
                    width: 45px;
                    height: 45px;
                    background-color: $brand-green-light;
                    border-radius: 8px;
                    @include flex(row, center, center);
                    margin-right: 26px;
                }

                .info {
                    h4 {
                        margin-bottom: 4px;
                        color: $gray-400;
                    }

                    p {
                        font-size: 18px;
                        line-height: 150%;
                        color: $gray-300;
                    }
                }
            }

        }
    }

    .image{
        position: relative;
        width: 100%;
        max-width: 712px;
        height: 598px;
        margin-right: -38px;
        left: 125px;
        img{
            position: absolute;
            &.mockup-01{
                left: 0;
                bottom: 47px;
            }
            &.mockup-02{
                top: 3;
                left: 258px;

            }
            &.circle{
                right: 0;
                bottom: 0;
            }
        }
    }
}